body {
  /* background-color: #E4F9F5; */
  margin:0;
}
h1{
  margin-top: 0;
}
.top-container {
  background-color:#E4F9F5;
  /* margin-bottom: 10px; */
  border:10px solid;
  height:200px;
  width:200px;
  padding:20px;
}
.middle-container{
  margin-left: 260px;
  height:200px;
  width:200px;
  background-color:red;
  border: 20px solid;
}
.bottom-container{
  margin-left:500px;
  height:200px;
  width:200px;
  background-color:blue;
  border:10px solid;
}
